# Dependencies
node_modules/

# Environment variables
.env

# Uploaded files
src/uploads/

# Logs
src/logs/
logs/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/

# Runtime files
npm-debug.log*